In [1]:
import pandas as pd
import numpy as np
from numpy import sqrt, abs, round
from scipy.stats import norm

`
Null Hypothesis: Temperature doesnâ€™t affect COV-19 Outbreak
Alternate Hypothesis: Temperature does affect COV-19 Outbreak
`

In [2]:
corona = pd.read_csv('./Data/Corona_Updated.csv')
corona['Temp_Cat'] = corona['Temprature'].apply(lambda x : 0 if x < 24 else 1)
corona_t = corona[['Confirmed', 'Temp_Cat']]

In [3]:
corona.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Temprature,Humidity,Temp_Cat,Humid_Cat
0,Hubei,Mainland China,2020-03-10T15:13:05,67760,3024,47743,30.9756,112.2707,12.5,86,0,1
1,NaN,Italy,2020-03-10T17:53:02,10149,631,724,43.0000,12.0000,12.9,64,0,1
2,NaN,Iran (Islamic Republic of),2020-03-10T19:13:20,8042,291,2731,32.0000,53.0000,11.9,9,0,0
3,NaN,Republic of Korea,2020-03-10T19:13:20,7513,54,247,36.0000,128.0000,4.9,41,0,0
4,NaN,France,2020-03-10T18:53:02,1784,33,12,47.0000,2.0000,11.9,93,0,0

In [4]:
corona.describe()

,Confirmed,Deaths,Recovered,Latitude,Longitude,Temprature,Humidity,Temp_Cat,Humid_Cat
count,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000
mean,575.640777,20.689320,312.640777,31.184989,11.752030,12.161165,67.728155,0.150485,0.470874
std,4822.697784,215.794845,3332.764713,21.305149,84.576291,10.229763,21.780588,0.358418,0.500367
min,0.000000,0.000000,0.000000,-41.454500,-157.498300,-21.900000,6.000000,0.000000,0.000000
25%,3.000000,0.000000,0.000000,25.069200,-74.841325,6.100000,55.000000,0.000000,0.000000
50%,12.000000,0.000000,0.000000,36.030550,15.234250,11.750000,73.000000,0.000000,0.000000
75%,75.750000,1.000000,4.000000,43.870250,101.363375,20.375000,84.000000,0.000000,1.000000
max,67760.000000,3024.000000,47743.000000,64.963100,174.886000,33.100000,98.000000,1.000000,1.000000

In [5]:
corona_t.head()

   Confirmed  Temp_Cat
0      67760         0
1      10149         0
2       8042         0
3       7513         0
4       1784         0

In [6]:
def TwoSampZ(X1, X2, sigma1, sigma2, N1, N2):
    from numpy import sqrt, abs, round
    from scipy.stats import norm
    ovr_sigma = sqrt(sigma1**2/N1 + sigma2**2/N2)
    z = (X1 - X2)/ovr_sigma
    pval = 2*(1 - norm.cdf(abs(z)))
    # cumulative distribution function (cdf) is preferred to the survivor function
    return z, pval

In [16]:
d1 = corona_t[(corona_t['Temp_Cat']==1)]['Confirmed']
d2 = corona_t[(corona_t['Temp_Cat']==0)]['Confirmed']

m1, m2 = d1.mean(), d2.mean()
sd1, sd2 = d1.std(), d2.std()
n1, n2 = d1.shape[0], d2.shape[0]

z, p = TwoSampZ(m1, m2, sd1, sd2, n1, n2)

z_score = np.round(z,8)
p_val = np.round(p,6)

if (p_val<0.05):
    Hypothesis_Status = 'Reject Null Hypothesis : Significant'
else:
    Hypothesis_Status = 'Do not reject Null Hypothesis : Not Significant'

print (p_val)
print (Hypothesis_Status)

0.102054
Do not reject Null Hypothesis : Not Significant

In [28]:
# Also using scipy stats

In [29]:
from scipy import stats
#survival function (upper tail probability) 
stats.norm.sf(abs(z_score))*2

0.10205422352971055

In [34]:
stats.ttest_ind(d1, d2)

Ttest_indResult(statistic=-0.6868954127229306, pvalue=0.4929287231702483)